@use './styles/colors.scss';
@use './styles/fonts.scss';

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
	box-sizing: border-box;
	color: black;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 14px;
	background-color: colors.$mygray;
	// letter-spacing: 0.5px;

	link {
		color: black;
	}
}
