@use './styles/colors.scss';
@use './styles/fonts.scss';

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
	color: black;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 14px;
	background-color: colors.$mygray;
	// position: relative;
	// font-family: 'DM Serif Display', serif;
}
