@use '../../styles/colors.scss';
@use '../../styles/fonts.scss';

.container {
	display: block;
	background-color: white;
	border: 2px solid colors.$mygray;
	border-radius: 10px;
	height: 300px;
	width: 250px;
	padding: 10px;
	margin: 0 0 20px;
	box-shadow: colors.$smaller-shadow;
	transition: 0.5s;
}

.container:hover {
	box-shadow: colors.$bigger-shadow;
}
