@use '../../../../styles/colors.scss';

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	position: fixed;
	width: 100%;
}

.navbar.scrollTrans {
	background: black;
}

.logo {
	margin: 10px 0 0 20px;
}

.container {
	display: flex;
	justify-content: space-between;
	margin: 0 50px;
	font-family: Arial, sans-serif;
}

button {
	background: rgba(255, 255, 255, 0.5);
	border: none;
	border-radius: 10px;
	width: 100px;
	height: 40px;
	font-family: 'DM Serif Display', sans-serif;
	font-size: 1rem;
	color: #069;
	cursor: pointer;
	color: black;
	transition: 0.25s;
	margin: 0 auto;
}

button:hover {
	background: rgba(255, 255, 255, 0.65);
}
