@use '../../../../styles/colors.scss';

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	position: fixed;
	width: 100%;
	z-index: 10;
}

.navbar.scrollTrans {
	background: black;
}

.logo {
	margin: 10px 0 0 20px;
}

.container {
	margin: 0 50px;
}

.button1 {
	background: rgba(255, 255, 255, 0.5);
	border: none;
	border-radius: 10px;
	width: 100px;
	height: 40px;
	font-family: Arial, sans-serif;
	font-weight: 600;
	font-size: 1rem;
	cursor: pointer;
	color: black;
	transition: 0.5s;
	margin: 0 auto;
}

.button1:hover {
	background: rgba(255, 255, 255, 0.7);
}

.button2 {
	background: rgba(220, 220, 220, 0.5);
	border: none;
	border-radius: 10px;
	width: 100px;
	height: 40px;
	font-family: Arial, sans-serif;
	font-weight: 600;
	font-size: 1rem;
	cursor: pointer;
	color: black;
	margin: 0 auto;
}

.button2:hover {
	background: rgba(220, 220, 220, 0.3);
}
