@use '../../../../styles/colors.scss';

.navbar {
	position: fixed;
	top: 75px;
	width: 350px;
	height: 100%;
	background-color: colors.$mywhite;
	overflow-y: scroll;
	border-right: 1px solid colors.$mydarkgray;
}

.navbar::-webkit-scrollbar {
	width: 10px;
}

.navbar::-webkit-scrollbar-track {
	background: colors.$mygray;
	border-radius: 10px;
	margin-block: 5px;
}

.navbar::-webkit-scrollbar-thumb {
	background: colors.$mywhite;
	border-radius: 10px;
	border: 1.5px solid colors.$mygray;
}

.course-header {
	margin: 10px;
	border: 1px solid colors.$mydarkgray;
	border-radius: 10px;
	box-shadow: colors.$smaller-shadow;

	.title {
		font-size: 1.5rem;
		font-family: 'DM Serif Text';
		font-weight: 700;
		padding: 20px 20px;
		border-radius: 10px;
		transition: 0.2s;

		&:hover {
			background-color: colors.$myblack;
			color: colors.$mywhite;
		}
	}
}

.navbar ul li {
	font-size: 1.25rem;
	font-family: 'DM Serif Text';
}

.link {
	margin: 20px 10px;
	padding: 12px 20px;
	height: 50px;
	width: auto;
	display: block;
	border: 1px solid colors.$mydarkgray;
	border-radius: 10px;
	box-shadow: colors.$smaller-shadow;
	transition: 0.5s;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.selected {
	background-color: colors.$myblack;
	color: colors.$mywhite;
}

.navbar ul li:last-child {
	margin-bottom: 80px;
}

.link:hover {
	background-color: colors.$myblack;
	color: colors.$mywhite;
}
