@use '../../../../styles/colors.scss';

.navbar {
	position: fixed;
	top: clamp(5rem, calc(5vw + 1rem), 6.5rem);
	padding-bottom: 125px;
	height: 100%;
	width: 350px;
	background-color: colors.$mygray;
	overflow-y: scroll;
	z-index: 20;
}

.navbar::-webkit-scrollbar {
	width: 10px;
}

.navbar::-webkit-scrollbar-track {
	background: colors.$mygray;
	border-radius: 10px;
	margin-block: 5px;
}

.navbar::-webkit-scrollbar-thumb {
	background: colors.$mywhite;
	border-radius: 10px;
	border: 1.5px solid colors.$mygray;
}

.course-header {
	margin: 20px 10px;
	border: 1px solid colors.$mydarkgray;
	border-radius: 10px;
	box-shadow: colors.$smaller-shadow;
	background-color: white;

	.title {
		font-size: 1.5rem;
		font-family: 'DM Serif Text';
		font-weight: 700;
		padding: 20px 20px;
		border-radius: 10px;
		transition: 0.2s;

		&:hover {
			background-color: colors.$myblack;
			color: colors.$mywhite;
		}
	}
}

.link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 10px;
	margin-bottom: 20px;
	padding: 0 15px;
	height: 50px;
	width: auto;
	border: 1px solid colors.$mydarkgray;
	border-radius: 10px;
	background-color: white;
	box-shadow: colors.$smaller-shadow;
	transition: background-color 0.5s;
	font-size: 1.25rem;
	font-family: 'DM Serif Text';

	&:hover {
		background-color: colors.$myblack;
		.lesson-title {
			color: colors.$mywhite;
		}
	}

	.lesson-title {
		display: block;
		width: 85%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	div {
		display: flex;
		align-items: center;

		img {
			height: 15px;
		}
	}
}

.selected {
	background-color: colors.$myblack;
	color: colors.$mywhite;

	.lesson-title {
		color: colors.$mywhite;
	}
}

.add-lesson-container {
	width: 339px;
	position: fixed;
	bottom: 0;
	height: 60px;
	background-color: colors.$mygray;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid colors.$mydarkgray;
	z-index: 100000;

	.button {
		padding: clamp(0.8rem, calc(0.05vw + 0.75rem), 0.8rem) calc(0.05vw + 1.5rem);
		background-color: rgba(73, 73, 73, 1);
		border-radius: 10px;
		font-family: Arial, sans-serif;
		font-weight: 600;
		font-size: clamp(0.85rem, calc(0.3vw + 0.8rem), 1.1rem);
		cursor: pointer;
		color: white;
		transition: 0.2s;
		align-items: center;
	}

	.button.add {
		padding: 0.75rem 1.5rem;
		background-color: colors.$mygreen;
		border: 2px solid colors.$mygreen;

		&:hover {
			background-color: colors.$mywhite;
			color: colors.$mygreen;
			border: 2px solid colors.$mygreen;
		}
	}
}

.tab {
	display: none;
	position: absolute;
	z-index: 10;
	top: 45vh;
	left: 0;

	button {
		background-color: rgba(0, 0, 0, 0);
		border: none;

		img {
			height: 100px;
			cursor: pointer;
		}
	}
}

@media screen and (max-width: 1080px) {
	.navbar {
		border-right: 1px solid colors.$mydarkgray;
		transform: translateX(-350px);
		transition: 0.5s;

		&.toggle {
			transform: translateX(0);
		}
	}

	.add-lesson-container {
		transform: translateX(-350px);
		transition: 0.5s;

		&.toggle {
			transform: translateX(0);
		}
	}

	.tab {
		display: block;
		transition: 0.5s;

		&.toggle {
			transform: translateX(350px);
		}
	}
}
