@use '../../../../styles/colors.scss';

.navbar {
	width: 350px;
	height: 100vh;
	background-color: colors.$mywhite;
	overflow-y: scroll;
}

.navbar::-webkit-scrollbar {
	width: 10px;
}

.navbar::-webkit-scrollbar-track {
	background: colors.$mygray;
	border-radius: 10px;
	margin-block: 5px;
}

.navbar::-webkit-scrollbar-thumb {
	background: colors.$mywhite;
	border-radius: 10px;
	border: 1px solid colors.$mygray;
}

.navbar ul li {
	font-size: 1.5rem;
	border-top: 1px solid black;
}

.link {
	padding: 12px 20px;
	height: 50px;
	width: 100%;
	display: block;
	transition: 0.5s;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.navbar ul li:last-child {
	margin-bottom: 100px;
}

.link:hover {
	background-color: colors.$myblack;
	color: colors.$mywhite;
}
