@use '../../../styles/colors.scss';

.toast {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: space-around;
	width: 300px;
	height: 50px;
	padding: 15px;
	border-radius: 5px;
	box-sizing: border-box;
	box-shadow: colors.$myshadow;

	font-family: Arial;
	font-weight: 700;
	cursor: pointer;

	transition: 0.2s;
	animation: fadeIn 3s;

	img {
		height: 20px;
	}
}
.toast:hover {
	transition: 0.2s;
	transform: scale(0.97);
}
.success {
	background-color: #eaffe7;
	color: #00e760;
}

.delete {
	background-color: #ffd5d5;
	color: colors.$myred;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}

	75% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
