@use '../../styles/colors.scss';
@use '../../styles/fonts.scss';

.container {
	padding-top: 70px;
	width: 100vw;
	background-color: colors.$mywhite;
}

.greeting-container {
	font-size: 30px;
	width: 100%;
	padding: 20px 75px;
	width: 1440px;
	margin: 0 auto;
}

.greeting-container h1 {
	border-bottom: 2px colors.$mygray solid;
	font-weight: 500;
}

.tab-container {
	width: 1440px;
	padding: 0 75px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.tab {
	font-size: 3rem;
	font-family: 'DM Serif Display';
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

.create-button {
	background-color: rgba(73, 73, 73, 1);
	border: none;
	border-radius: 10px;
	width: 150px;
	height: 40px;
	font-family: Arial, sans-serif;
	font-weight: 600;
	font-size: 1.15rem;
	cursor: pointer;
	color: white;
	transition: 0.5s;
	margin: 10px 0;
}

.create-button:hover {
	background-color: rgba(73, 73, 73, 0.5);
}

.courses-container {
	width: 1440px;
	padding: 0 75px;
	margin: 25px auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 50px 95px;
}

.empty-message {
	font-family: 'DM Serif Text';
	font-size: 20px;
}

.empty-message .link {
	text-decoration: underline solid colors.$myblue;
}
