@use '../../styles/colors.scss';

.container {
	position: fixed;
	right: 0;
	overflow-y: scroll;
	width: calc(100% - 350px);
	height: calc(100% - 75px);
	margin: 75px 0 0 350px;
	padding: 50px;
	background-color: colors.$mygray;
}

.wrapper {
	padding: 50px;
	border-radius: 10px;
	box-shadow: colors.$smaller-shadow;
	background-color: colors.$mywhite;
}

.course-title {
	margin-bottom: 25px;
	text-align: center;
	font-family: 'DM Serif Text';
	font-size: 3rem;
	font-weight: 600;
}

.course-author {
	text-align: center;
	margin-bottom: 50px;

	b {
		color: colors.$myblue;
		transition: 0.5s;

		&:hover {
			color: black;
		}
	}
}

.lesson-title {
	margin-bottom: 40px;
	border-bottom: 1px solid colors.$mydarkgray;
	text-align: left;
	font-family: 'DM Serif Text';
	font-size: 2.5rem;
	font-weight: 400;
}

.html-content {
	font-family: 'DM Sans';
	font-size: 1.5rem;
	line-height: 2rem;
	white-space: pre-wrap;

	img {
		width: 100% !important;
	}
}
