.content-container {
	position: fixed;
	width: calc(100% - 350px);
	height: calc(100% - 75px);
	right: 0;
	margin: 75px 0 0 350px;
	overflow-y: scroll;
	padding: 20px;
}

.html-content {
	white-space: pre-wrap;
	padding: 20px;
}
