@use '../../../../styles/colors.scss';

.container {
	height: 100vh;
	background: colors.$myblue;
}

.component-container {
	display: flex;
	justify-content: space-between;
}

.left-component {
	padding: 10rem 15rem;
	font-size: 1.5rem;
	cursor: default;
	user-select: none;
}

.left-component h1 {
	margin: 10vh;
	transition: 0.5s;
}

.left-component h1:hover {
	color: white;
}

.right-component {
	margin: 100px 10px;
}

.image-component {
	position: absolute;
	top: 600px;
	right: 175px;
	z-index: 1;
}
