@use '../../styles/colors.scss';

.container {
	display: flex;
}

.viewport {
}

.add-lesson-container {
	width: 330px;
	position: absolute;
	bottom: 0;
	height: 75px;
	background-color: colors.$mywhite;
	display: flex;
	align-items: center;
	align-content: center;
}

.add-lesson-button {
	background-color: rgba(73, 73, 73, 1);
	border: none;
	border-radius: 10px;
	width: 150px;
	height: 40px;
	font-family: Arial, sans-serif;
	font-weight: 600;
	font-size: 1.15rem;
	cursor: pointer;
	color: white;
	transition: 0.5s;
	margin: 10px 0;
}
