@use '../../styles/colors.scss';

.wrapper {
	width: 100%;
}

.container {
	display: flex;
}

.right-component {
	position: fixed;
	width: 75%;
	top: 0;
	left: 0;
	margin: 75px 0 0 350px;
	height: 100%;
	overflow-y: scroll;
	padding: 20px;
}

.editor-viewport {
}

.viewport-header {
	display: flex;
	justify-content: space-between;
}

.header-buttons {
}

.add-lesson-container {
	width: 339px;
	position: fixed;
	bottom: 0;
	height: 60px;
	background-color: colors.$mywhite;
	display: flex;
	justify-content: center;
	border-top: 1px solid colors.$mygray;
}

.button {
	background-color: rgba(73, 73, 73, 1);
	border-radius: 10px;
	width: 150px;
	height: 40px;
	font-family: Arial, sans-serif;
	font-weight: 600;
	font-size: 1.15rem;
	cursor: pointer;
	color: white;
	transition: 0.2s;
	margin: 10px 0;
	align-items: center;
}

.button.add {
	background-color: colors.$mygreen;
	border: 2px solid colors.$mygreen;

	&:hover {
		background-color: colors.$mywhite;
		color: colors.$mygreen;
		border: 2px solid colors.$mygreen;
	}
}

.button.save-lesson {
	background-color: white;
	border: 2px solid colors.$myblue;
	color: colors.$myblue;

	&:hover {
		background-color: colors.$mygray;
	}
}

.button.delete {
	background-color: white;
	border: 2px solid colors.$myred;
	color: colors.$myred;

	&:hover {
		background-color: colors.$mygray;
	}
}

.button-container {
	position: fixed;
	bottom: 0;
}

.input {
	width: 100%;
	border: 1px solid colors.$mydarkgray;
	border-radius: 5px;
	margin: 10px 0;
	padding: 0 20px;
	line-height: 3rem;
	font-size: 20px;
}

.input:focus {
	border: colors.$myblue 1px solid;
}

.course-editor {
}
