@use '../../styles/colors.scss';

.wrapper {
	width: 100vw;
	// display: flex;
	// top: 0;
	// right: 0;
	// bottom: 0;
	// left: 0;
	// flex-direction: column;
}

.workspace-container {
	display: flex;
	// flex-grow: 1;
	// position: relative;
}

.right-component {
	// box-sizing: border-box;
	// flex: auto;
	position: fixed;
	// position: relative;
	width: calc(100% - 350px);
	height: calc(100% - 75px);
	// top: 0;
	// left: 0;
	right: 0;
	margin: 75px 0 0 350px;
	overflow-y: scroll;
	padding: 20px;
}

.editor-viewport {
}

.viewport-header {
	display: flex;
	justify-content: space-between;
}

.header-buttons {
}

.add-lesson-container {
	width: 339px;
	position: fixed;
	bottom: 0;
	height: 60px;
	background-color: colors.$mywhite;
	display: flex;
	justify-content: center;
	border-top: 1px solid colors.$mygray;
}

.button {
	background-color: rgba(73, 73, 73, 1);
	border-radius: 10px;
	width: 150px;
	height: 40px;
	font-family: Arial, sans-serif;
	font-weight: 600;
	font-size: 1.15rem;
	cursor: pointer;
	color: white;
	transition: 0.2s;
	margin: 10px 0;
	align-items: center;
}

.button.add {
	background-color: colors.$mygreen;
	border: 2px solid colors.$mygreen;

	&:hover {
		background-color: colors.$mywhite;
		color: colors.$mygreen;
		border: 2px solid colors.$mygreen;
	}
}

.button.save-lesson {
	background-color: white;
	border: 2px solid colors.$myblue;
	color: colors.$myblue;

	&:hover {
		background-color: colors.$mygray;
	}
}

.button.delete {
	background-color: white;
	border: 2px solid colors.$myred;
	color: colors.$myred;

	&:hover {
		background-color: colors.$mygray;
	}
}

.button-container {
	position: fixed;
	bottom: 0;
}

.lesson-title {
	max-width: 700px;
}

.input {
	width: 100%;
	border: 1px solid colors.$mydarkgray;
	border-radius: 5px;
	margin: 10px 0;
	padding: 0 20px;
	line-height: 3rem;
	font-size: 20px;
}

.input:focus {
	border: colors.$myblue 1px solid;
}

.course-editor {
	textarea {
		height: 400px;
		font-family: Arial;
	}
}

.wysiwyg-wrapper {
	border: 1px solid colors.$mydarkgray;
	border-radius: 5px;
	min-height: 400px;

	.wysiwyg-editor {
		padding: 20px;
	}
}

.lesson-form {
	border: 1px solid colors.$myblack;
	border-radius: 10px;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 50px;
}
