@use '../../styles/colors.scss';

.navbar {
	position: fixed;
	background-color: colors.$myblue;
	width: 100vw;
	left: 0;
	right: 0;
	top: 0;
}

.container {
	width: 1440px;
	height: 75px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 75px;
	margin: 0 auto;
	vertical-align: middle;
	position: relative;
}

.logo-container {
	width: 50%;
	// margin: auto 0;
	height: 35px;
}

.logout {
	background: rgba(0, 0, 0, 0);
	border: none;
	border-radius: 10px;
	width: 100px;
	height: 40px;
	font-family: Arial, sans-serif;
	font-weight: 600;
	font-size: 1.15rem;
	cursor: pointer;
	color: white;
	transition: 0.2s;
}

.logout:hover {
	border: 2px white solid;
}
